body {
    font-family:  Arial, Helvetica, sans-serif;
    background: #9777da;
}

h1, h2, h3 {
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
}

hr {
    border-color: white;
}

/*Login*/
#caixa {
    background-color: #343540;
    width: 380px;
    height: 260px;
    margin: 140px auto 0px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid;
}

#login-label {
    height: 50px;
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid;
    color: #f1f1f1;
    text-shadow: 1px 0px 1px white;
    margin-top: 5px;
}

.input-div {
    margin: 20px;
    padding: 1px;
    border-radius: 3px;
}

.input-div input {
    width: 336px;
    height: 35px;
    padding-left: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 13px;
    border-radius: 3px;
    border: 1px solid #bfc4c6;
    outline: none;
}

.input-div:hover{
    background-color: #58c2ff;
}

#botao {
    width: 356px;
    height: 35px;
    padding-left: 21px;
    text-align: center;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;  
}

.row div {
    color: #f1f1f1;
    text-decoration: none;
    text-align: center;
    padding: 30px;
}

.row div a {
    color: #f1f1f1;
    text-decoration: none;
}

.btn-incluir{
    background-color: blue;
}

/*Muda a cor do hover do dropdown-item*/
.mudar-cor.dropdown-menu a:hover{
    background-color: rgb(23, 23, 24);
 } 

 .modelo-divs {
    padding: 0 20px;
    overflow: hidden;
 }

.texto-centro {
    text-align: center;
 }

.modelo-divs .btn-cancelar {
    text-decoration: none;
    color: #f1f1f1;
}

.mudar-tamanho a {
    margin: 0 5px 0 5px;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }